# The foreground color
foreground       {{ .BodyText }}

# The background color
background       {{ .Background }}

# The foreground for selections
selection_foreground {{ .EmphasizedContent }}

# The background for selections
selection_background {{ .BackgroundHighlights }}

# The cursor color
cursor           {{ .InvertedBackground }}

# The cursor opacity
cursor_opacity   0.7

# The color for the border of the active window
active_border_color {{ .Green }}

# The color for the border of inactive windows
inactive_border_color {{ .BackgroundHighlights }}

# Tab-bar colors
tab_bar_style separator
active_tab_foreground {{ .BodyText }}
active_tab_background {{ .Background }}
inactive_tab_foreground {{ .InvertedSecondaryContent }}
inactive_tab_background {{ .InvertedBackground }}

# The 16 terminal colors. There are 8 basic colors, each color has a dull and
# bright version.

# black
color0   {{ .Black }}
color8   {{ .BrBlack }}

# red
color1   {{ .Red }}
color9   {{ .BrRed }}

# green
color2   {{ .Green }}
color10  {{ .BrGreen }}

# yellow
color3   {{ .Yellow }}
color11  {{ .BrYellow }}

# blue
color4  {{ .Blue }}
color12 {{ .BrBlue }}

# magenta
color5   {{ .Magenta }}
color13  {{ .BrMagenta }}

# cyan
color6   {{ .Cyan }}
color14  {{ .BrCyan }}

# white
color7   {{ .White }}
color15  {{ .BrWhite }}
